

a {
	background-color: transparent
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted
}

b,
strong {
	font-weight: bolder
}

p {
	line-height: 1.37;
	color: #fff;
	font-size: 12px;
}

@media (min-width:960px) {

	a,
	li,
	p {
		font-size: clamp(18px, 1.59722vw, 23px)
	}
}

p {
	letter-spacing: -.03em
}

p a {
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}

p a:hover {
	color: #fd3e12
}

strong {
	font-weight: 500
}

.rich-text p:not(:last-child) {
	margin-bottom: 20px
}


.hero__intro-text {
	font-size: 7.6vw;
	color: #fff;
	font-weight: 600;
	opacity: 1;
	-webkit-transition: opacity .3s cubic-bezier(.41, .09, .58, 1);
	transition: opacity .3s cubic-bezier(.41, .09, .58, 1)
}

.hero__intro-text .word {
	font-size: 7.6vw;
	color: #fff;
	font-weight: 600
}

.hero__intro-text .char {
	font-size: 7.6vw;
	color: #fff;
	font-weight: 600;
	opacity: 1;
	-webkit-transition: opacity .3s cubic-bezier(.41, .09, .58, 1);
	transition: opacity .3s cubic-bezier(.41, .09, .58, 1)
}

@media (min-width:960px) {
	.hero__intro-text {
		font-size: clamp(42px, 4.44444vw, 64px);
		max-width: clamp(600px, 52.08333vw, 750px)
	}

	.hero__intro-text .word {
		font-size: clamp(42px, 4.44444vw, 64px);
		max-width: clamp(600px, 52.08333vw, 750px)
	}

	.hero__intro-text .char {
		font-size: clamp(42px, 4.44444vw, 64px);
		max-width: clamp(600px, 52.08333vw, 750px)
	}
}

.hero__main {
	position: relative
}

@media (min-width:960px) {
	.hero__main {
		margin: -60px auto 0
	}
}

@media (min-width:1399px) {
	.hero__main {
		margin-top: -130px
	}
}

.hero__chart {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: 50px;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	min-height: 800px;
	margin-bottom: 570px;
	z-index: 2
}

@media (min-width:960px) {
	.hero__chart {
		min-height: clamp(900px, 83.33333vw, 1200px);
		margin-bottom: 270px
	}
}

.hero__chart-note {
	position: absolute;
	top: calc(100vh - 400px);
	right: 0;
	font-size: 13px;
	font-weight: 600;
	color: #fff;
	z-index: 5;
	-webkit-transform: rotate(90deg) translateY(-70px);
	transform: rotate(90deg) translateY(-70px)
}

.hero__bar {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	width: 20%;
	margin-right: 5px;
	z-index: 2
}

@media (min-width:960px) {
	.hero__bar {
		margin-right: clamp(8px, 1.52778vw, 22px)
	}
}

.hero__bar:after {
	content: '';
	position: absolute;
	display: block;
	height: 100%;
	width: 5px;
	left: 100%;
	background: #120101;
	background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(50%, #120101), to(rgba(0, 0, 0, 0)));
	background: linear-gradient(180deg, #120101 0, #120101 50%, rgba(0, 0, 0, 0) 100%)
}

@media (min-width:960px) {
	.hero__bar:after {
		width: clamp(8px, 1.52778vw, 22px)
	}
}

.hero__bar:first-of-type {
	margin-left: 3.75vw
}

@media (min-width:960px) {
	.hero__bar:first-of-type {
		margin-left: clamp(8px, 1.52778vw, 22px)
	}
}

.hero__bar:first-of-type:before {
	content: '';
	position: absolute;
	display: block;
	height: 100%;
	width: 3.75vw;
	right: 100%;
	background: #120101;
	background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(50%, #120101), to(rgba(0, 0, 0, 0)));
	background: linear-gradient(180deg, #120101 0, #120101 50%, rgba(0, 0, 0, 0) 100%)
}

@media (min-width:960px) {
	.hero__bar:first-of-type:before {
		width: clamp(8px, 1.52778vw, 22px)
	}
}

.hero__bar:last-of-type {
	margin-right: 3.75vw
}

@media (min-width:960px) {
	.hero__bar:last-of-type {
		margin-right: clamp(8px, 1.52778vw, 22px)
	}
}

.hero__bar:last-of-type:after {
	width: 3.75vw
}

@media (min-width:960px) {
	.hero__bar:last-of-type:after {
		width: clamp(8px, 1.52778vw, 22px)
	}
}

.hero__bar-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	background-color: #120101
}

.hero__bar-text {
	color: #666;
	font-size: 15px;
	font-weight: 600;
	line-height: 1
}

@media (min-width:960px) {
	.hero__bar-text {
		font-size: clamp(16px, 1.25vw, 18px)
	}
}

.hero__bar-number {
	color: #fd3e12;
	font-family: suisse;
	font-size: 19px;
	margin-bottom: 5px
}

@media (min-width:960px) {
	.hero__bar-number {
		font-size: clamp(28px, 2.29167vw, 33px);
		margin-bottom: 12px
	}
}

.hero__bar-number span {
	color: #fd3e12
}

.hero__bar-fill {
	background-color: transparent;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%
}

.hero__bottom-container {
	position: relative;
	z-index: 2;
	margin-bottom: 0px;

}



@media (min-width:960px) {
	.hero__outro-text {
		font-size: clamp(26px, 2.22222vw, 32px);
		max-width: 1148px
	}
}

.hero__outro-text {
	font-size: 20px;
	font-weight: 800;
	color: #fff;
	margin-bottom: 20px
}

.hero__outro-number {
	position: relative;
	font-family: suisse;
	font-size: 18vw;
	color: #fff;
	letter-spacing: -.03em;
	font-weight: 600;
	line-height: 1;
	z-index: 3;
	margin-top: 0px;
	margin-bottom: 0px;
}

.hero__outro-number sup {
	position: absolute;
	top: 25%;
	right: 0;
	font-size: 14px;
	font-weight: 700;
	color: #fff
}

@media (min-width:960px) {
	.hero__outro-number sup {
		font-size: clamp(24px, 2.22222vw, 32px);
		right: 4%
	}
}

.hero__background-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0
}

.hero__background-container--bg {
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	top: 310px;
	bottom: 0;
	z-index: 2
}



.hero__background-container:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 900px;
	background-color: #120101
}

@media (min-width:680px) {
	.hero__background-container:after {
		height: 350px
	}
}

@media (min-width:960px) {
	.hero__background-container:after {
		height: 240px
	}
}

.hero__background-image {
	position: sticky;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-repeat: norepeat;
	background-size: cover
}

.hero__background-video {
	position: sticky;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-repeat: norepeat;
	background-size: cover
}

.hero__background-video-inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden
}
.hero__background-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100vw;
    min-height: 100vh;
    width: auto;
    height: auto;
    z-index: 1;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    object-fit: cover;
}

.hero__background-video-inner img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	z-index: 1;
	display: none
}

.hero__background-video-inner iframe {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 150%;
	height: 150%;
	-o-object-fit: cover;
	object-fit: cover
}

@media screen and (max-width:1200px) and (min-height:600px) {
	.hero__background-video-inner iframe {
		width: 220%;
		height: 220%
	}
}

@media screen and (max-width:750px) and (min-height:600px) {
	.hero__background-video-inner iframe {
		width: 375%;
		height: 375%
	}
}

@media screen and (max-height:800px) and (min-width:751px) {
	.hero__background-video-inner iframe {
		width: 250%;
		height: 250%
	}
}

@media screen and (max-width:960px) and (max-height:600px) {
	.hero__background-video-inner iframe {
		width: 300%;
		height: 300%
	}
}